* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
}
body {
  background-color: #e3e3e3;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  position: relative;
  margin-top: 5rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fafafa;
  &__headline {
    color: #252eff;
    margin-bottom: 3rem;
  }
  .dark > &__headline {
    color: #fafafa;
  }

  &__divider {
    margin-bottom: 4rem;
  }

  &__input {
    width: 300px;
    padding: 0.5rem;
    border: 3px solid #7b82f6;
    border-radius: 0.7rem;
    margin: 0.6rem;
    &:hover,
    &:focus {
      outline: 0 none;
      border: 3px solid #5f66e5;
    }
  }
  .dark > &__input {
    background-color: #bb86fc;
  }

  &__button {
    display: block;
    width: 300px;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #8b54ff;
    color: #fafafa;
    border: none;
    border-radius: 1rem;
    &:hover {
      background-color: #5e65e6;
      cursor: pointer;
    }
  }

  &__loginSituation {
    background-color: #5e65e680;
    color: #fafafa;
    text-shadow: 2px 1px 2px #8b54ff;
    border-radius: 0.7rem;
    padding: 0.5rem;
  }
}

.signIn {
  background-color: #6066ff;
}

.invalid {
  position: absolute;
  content: "\00D7";
  transform: translate(125px, -43px);
  font-size: 1.3rem;
  color: rgba(248, 136, 136, 0.6);
  user-select: none;
}
.valid {
  position: absolute;
  content: "\2714";
  transform: translate(125px, -39px);
  color: rgba(91, 242, 9, 0.6);
  user-select: none;
}

.darkLight {
  position: absolute;
  right: 15px;
  top: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: transparent;
}

.dark {
  background-color: #121212;
}

.dark > .signIn {
  background-color: #bb86fc;
}

.github {
  position: absolute;
  bottom: 0;
  left: 5px;
  text-decoration: none;
  color: #fafafa;
  text-shadow: #000000 3px 3px 5px;
  padding: 12px;
  font-size: 12px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.gg-eye {
  position: absolute;
  transform: translate(-60px, 18px);
  display: inline-block;
  width: 24px;
  height: 18px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
  &::after,
  &::before {
    content: "";
    display: block;
    border-radius: 100px;
    position: absolute;
    box-sizing: border-box;
  }
  &::after {
    top: 2px;
    box-shadow: inset 0 -8px 0 2px, inset 0 0 0 2px;
    width: 24px;
    height: 24px;
  }
  &::before {
    width: 8px;
    height: 8px;
    border: 2px solid;
    bottom: 4px;
    left: 8px;
  }
}

.gg-backspace {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  transform: scale(var(--ggs, 1));
  border: 2px solid;
  border-left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #5b5fdf;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
  }

  &::after {
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 1px;
    transform: rotate(-45deg);
    top: 0;
    left: -5px;
  }
}
